<%- include('layouts/header'); -%>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-3 fs-3">Add item</div>
    <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
      <span><%= error %></span>
      <% if (errors) { %>
      <ul class="mb-0">
        <% errors.forEach(function(error){ %>
        <li><%= error.message %></li>
        <% }); %>
      </ul>
      <% } %>
    </div>
    <% } else if (typeof success !== 'undefined') { %>
    <div class="alert alert-success" role="alert">
      <span>Succes!</span>
    </div>
    <% } %>
    <div class="col-12">
      <form method="post" action="/productos">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="<%= typeof error !== 'undefined' ? values.title : '' %>"
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            value="<%= typeof error !== 'undefined' ? values.price : '' %>"
          />
        </div>
        <div class="mb-3">
          <label for="thumbnail" class="form-label">Thumbnail</label>
          <input
            type="text"
            class="form-control"
            id="thumbnail"
            name="thumbnail"
            value="<%= typeof error !== 'undefined' ? values.thumbnail : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-secondary" href="/productos" role="button"
          >View Items</a
        >
      </form>
    </div>
  </div>
</div>
<%- include('layouts/footer'); -%>
